.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(49, 51, 56);
    width: 90%;
    border-radius: 15px;
    border: solid rgb(128, 21, 211);;
    margin-left: 5rem;
}

h1 {
    font-family: 'Iosevka Web', monospace;
    text-align: center;
    color: rgb(128, 21, 211);
    font-size: 2.5rem;
}

.aboutme p {
    font-family: 'Iosevka Web', monospace;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
}

.aboutme a {
    text-decoration: none;
    color: rgb(128, 21, 211);
}

@media (max-width: 768px) {
    .aboutme {
        margin: 0 auto;
        height: auto;
        padding: 3%;
    }
}