h1 {
    font-family: 'Iosevka Web', monospace;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    margin-top: 3%
}

.intro h2 {
    text-align: center;
    font-family: 'Iosevka Web', monospace;
    font-size: 1.6rem;
    margin-top: 3%
}

.intro p {
    text-align: center;
    font-family: 'Iosevka Web', monospace;
    font-size: 1rem;
    color: rgb(131, 15, 222);
    background: rgba(49, 51, 56);
    width: fit-content;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
    border: 2px rgb(128, 21, 211) solid;
}

.intro p:hover {
    border: 2px rgb(88, 43, 124) solid;
}

.intro h3 {
    text-align: center;
    font-family: 'Iosevka Web', monospace;
    font-size: 1.2rem;
    margin-top: 1%
}

.contact {
    font-family: 'Iosevka Web', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;    /* Center content horizontally */
    align-items: center;        /* Center content vertically */
    text-align: center;
    height: 30vh;
}

.contact h2 {
    margin-bottom: 15px;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(128, 21, 211);
    padding: 10px;
    background: rgba(49, 51, 56);
    border-radius: 16px;
    border: 1px rgb(128, 21, 211) solid;
}

.contact-content img {
    border-radius: 20%;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.contact-content p {
    margin: 0;
}

.contact-content p:hover {
    color: rgb(80, 92, 230);
}


.footer p {
    font-family: 'Iosevka Web', monospace;
}

/* Adjustments for smaller devices */
@media (max-width: 768px) {
    h1 {
        font-size: 1.4rem;
    }

    .intro h2 {
        font-size: 1.2rem;
        margin-top: 5vh;
    }

    .intro p {
        font-size: 0.8rem;
    }
}